################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XF.ControlesBasicos/XF.ControlesBasicos.Android/bin/Debug
/XF.ControlesBasicos/XF.ControlesBasicos.Android/obj
/XF.ControlesBasicos/XF.ControlesBasicos.iOS/bin
/XF.ControlesBasicos/XF.ControlesBasicos.iOS/obj
